test.parent/.classpath
Spring.test1/target/
test.parent/.settings/
test1.dependencyJar/test1.dependencyJar/.settings/
test.parent/.project
test1.dependencyJar/test1.dependencyJar/.classpath
test1.dependencyJar/test1.dependencyJar/.project
Spring.test1/.classpath
Spring.test1/.project
Spring.test1/.settings/
